/* BUTTONS */

.orange-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.orange-button:text {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.orange-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.orange-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*LABELS */

.label {
    -fx-background-color: #93835b;
    -fx-background-radius: 10;
    -fx-font-family: "Futura";
}

/* TEXT FIELDS */

.text-field {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-font-family: "Futura";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

/* ListView */

.list-view {
    -fx-border-color: #867453; /* Border color */
    -fx-border-width: 3px; /* Border width */
    -fx-border-radius: 10; /* Border radius */
}

/* ListCell */

.list-view .list-cell {
    -fx-background-color: transparent; /* Transparent background */
    -fx-font-family: "Futura"; /* Font family */
    -fx-font-size: 15px; /* Font size */
}

/* ListCell Mouse Hover */

.list-view .list-cell:hover {
    -fx-background-color: #c54e2c; /* Background color on hover */
    -fx-text-fill: white; /* Text color on hover */
    -fx-border-radius: 10; /* Border radius */
}
